@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-sans;
        @apply bg-ui-bg;
	}

	html, body {
		@apply overflow-x-hidden;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-display;
		@apply text-ui-textMuted;
	}
}
